body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6c667;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  background-color: #299d8f;
  width: 80vw;
  height: 50vh;
  padding: 1em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
}

h1 {
  text-align: center;
  margin: 0 0 16px 0;
}

h1:nth-child(2) {
  color: white;
}

button {
  background-color: #e6c667;
  font-size: medium;
  padding: 0.5em 1.5em;
  margin-top: 2em;
  border: 3px solid black;
  box-shadow: 4px 4px 0 black;
  cursor: pointer;
  transition: all 0.1s ease;
}

button:hover {
  transform: translate(0, -2px);
}

.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px)
      0/0% no-repeat,
    repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
  animation: l3 2s infinite;
}
@keyframes l3 {
  100% {
    background-size: 100%;
  }
}
