body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6c667;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  background-color: #299d8f;
  width: 80vw;
  height: 50vh;
  padding: 1em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
}

h2,
h1 {
  text-align: center;
  margin: 0 0 16px 0;
}

h2:nth-child(2) {
  color: white;
}

span {
  padding: 0 12px;
  margin: 0 6px;
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
}

h1 span:nth-child(1) {
  background-color: #fb5655;
  display: inline-block;
  transform: translateY(4px);
}

h1 span:nth-child(2) {
  background-color: #f8a136;
  padding: 0 6px;
}

h1 span:nth-child(3) {
  background-color: #d362f5;
  display: inline-block;
  transform: rotate(-15deg) translateY(-4px);
}

h1 span:nth-child(4) {
  background-color: #34b2c9;
  padding: 0 6px;
  display: inline-block;
  transform: translateY(-4px);
}

h1 span:nth-child(5) {
  background-color: #fc4949;
  display: inline-block;
  margin: 0 12px;
  transform: rotate(10deg) translateY(2px);
}

button {
  background-color: #fda538;
  font-size: medium;
  padding: 0.5em 1.5em;
  margin-top: 2em;
  border: 3px solid black;
  box-shadow: 4px 4px 0 black;
  cursor: pointer;
  transition: all 0.1s ease;
  font-weight: 500;
}

button:hover {
  transform: translate(0, -2px);
}

.joke-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.joke-options button:nth-child(1) {
  background-color: #fe4e4f;
}

.joke-options button:nth-child(2) {
  background-color: #fff500;
}

.joke-options button:nth-child(3) {
  background-color: #e46bff;
}
.loader {
  width: 120px;
  height: 20px;
  border-radius: 20px;
  background: repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px)
      0/0% no-repeat,
    repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
  animation: l3 2s infinite;
}
@keyframes l3 {
  100% {
    background-size: 100%;
  }
}

@media screen and (max-width: 420px) {
  .container {
    border: 3px solid black;
  }
  button {
    box-shadow: 4px 4px 0 black;
    border: 2px solid black;
    margin-top: 1.5em;
    padding: .75em 1.5em;
    font-size: 12px;
  }
}
